<div id="baner" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#baner" data-slide-to="0" class="active"></li>
    <li data-target="#baner" data-slide-to="1"></li>
    <li data-target="#baner" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/movie01.jpg" alt="Movie1" width="100%" height="500">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/movie02.jpeg" alt="Movie2" width="100%" height="500">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/movie03.jpg" alt="Movie3" width="100%" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#baner" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#baner" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>